{% extends 'homepage/base.html' %}
{% load static %}

{% block content %}
<br><br><br><br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="blog-card-image" style="margin-left: 545px;">
      <img class="img" src="{{ news.image }}" width="750" height = "400">
      <div class="ripple-cont"></div>
    </div>
      <div class="col-md-7 justify-content-center">
        <div class="blog-card blog-card-blog">
          <div class="blog-table">
            <h4 class="blog-card-caption">
              {{ news.headline }}
            </h4>
            <p class="blog-card-description">{{ news.upload_time }}</p>
            <div class="ftr">
              <div class="author">
                <p class = "text-justify">{{ news.news|linebreaks }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
{% endblock %}
