{% extends 'homepage/base.html' %}
{% load static %}


{% block content %}
    <!-- header -->
    <!--
    <header class="masthead" style="background-image:url('{% static 'homepage/assets/img/wp2686809.jpg' %}');">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span>To me, Cricket is a simple game. Keep it simple and just go out and play</span></div>
                <div class="intro-heading text-uppercase"><span>- Shane Warne</span></div>
            </div>
        </div>
    </header>-->
    <!-- header -->

    <!-- Dont know yet :p -->
    <!--
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Services</h2>
                    <h3 class="text-muted section-subheading">Lorem ipsum dolor sit amet consectetur</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-laptop fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-lock fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Dont know yet :p -->

    <!-- News -->
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Latest News</h2>
                    <h3 class="text-muted section-subheading">Current Buzz in Cricket World</h3>
                </div>
            </div>
            <div class="row">
              {% for news in recentnews %}
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="{% url 'detailed-news' news.newsid %}" >
                        <!--<div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div>--><img class="img-fluid" src="{{ news.image }}">
                    </a>
                    <div class="portfolio-caption">
                        <p class="fw-bold">{{ news.headline }}</p>
                        <p style="font-size:0.75vw">{{ news.intro }}</p>
                        <p class="text-muted">{{ news.upload_time }}</p>
                    </div>
                </div>
              {% endfor %}
            </div>
            <center>
              <div class="blog-slider__text">
                    </div><a class="blog-slider__button" href="{% url 'news' %}">READ MORE</a>
            </center>

        </div>
    </section>
    <!-- News -->

    <!-- Timeline -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase">Timeline of Historic Events in Cricket</h2>
                    <h3 class="text-muted section-subheading">There were some crucial events in the history of Cricket which redefined the game. Did you know about them?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group timeline">
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'homepage/assets/img/history/h1.jpg' %}"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1550 - Cricket was invented</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Cricket was possibly created around this time by children living in the Weald, an area of dense woodlands and clearings in south-east England that lies across Kent and Sussex. Cricket was probably invented as a form of entertainment and something to do to keep people fit.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'homepage/assets/img/history/h2.jpg' %}"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1624 - First ever mention of a Cricket bat</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At this time cricket bats were shaped like hockey sticks because bowlers used to bowel underarm. Cricket bats then went on to change greatly.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'homepage/assets/img/about/1.jpg' %}"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 28, 1624 - First man ever killed while playing cricket</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jasper Vinall becomes the first man known to be killed playing cricket. He was hit by a bat while trying to catch the ball at Horsted Green, Sussex. This event would have effected cricket in a good and bad way, as the people would have tried to make the game safer from this event but also might scare some people away from playing it</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'homepage/assets/img/about/1.jpg' %}"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 31, 1769 - First recorded century</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">John Minshull's place in cricket history was secured when on August 31, 1769 he scored 107 for Sevenoaks against Wrotham, the first recorded hundred in the game, although it is thought that John Small scored one in 1768.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <a href = "{% url 'timeline' %}"><div class="timeline-image">
                                <h4>Read<br>&nbsp;more about<br>&nbsp;the history</h4>
                            </div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Timeline -->

    <!-- Team -->
    <section class="bg-light" id="team">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="{% static 'homepage/assets/img/team/FB_IMG_1631804269638.jpg' %}">
                        <h4>Jignesh Nagda</h4>
                        <p class="text-muted">Creator of Cricbee</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team -->

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static 'homepage/assets/img/clients/creative-market.jpg' %}"></a></div>
                <div class="col-sm-6 col-md-3"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static 'homepage/assets/img/clients/designmodo.jpg' %}"></a></div>
                <div class="col-sm-6 col-md-3"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static 'homepage/assets/img/clients/envato.jpg' %}"></a></div>
                <div class="col-sm-6 col-md-3"><a href="#"><img class="img-fluid d-block mx-auto" src="{% static 'homepage/assets/img/clients/themeforest.jpg' %}"></a></div>
            </div>
        </div>
    </section>

    <!-- Contact Us -->
    <section id="contact" style="background-image:url('{% static 'homepage/assets/img/map-image.png' %}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Contact Us</h2>
                    <h3 class="text-muted section-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="contactForm" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3"><input class="form-control" type="text" id="name" placeholder="Your Name *" required=""><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                                <div class="form-group mb-3"><input class="form-control" type="email" id="email" placeholder="Your Email *" required=""><small class="form-text text-danger help-block lead"></small></div>
                                <div class="form-group mb-3"><input class="form-control" type="tel" placeholder="Your Phone *" required=""><small class="form-text text-danger help-block lead"></small></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3"><textarea class="form-control" id="message" placeholder="Your Message *" required=""></textarea><small class="form-text text-danger help-block lead"></small></div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div><button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us -->

{% endblock %}
