{% extends 'homepage/base.html' %}
{% load static %}

{% block content %}
<div class="blog-slider" style="margin-top: 150px;height: 600px;">
    <div class="blog-slider__wrp swiper-wrapper">
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img"><img src="{{ blog.images.url }}"></div>
            <div class="blog-slider__content"><span class="blog-slider__code">Are you sure you want to delete the post <b>{{ blog.title }}</b><br>created on {{ blog.date_posted }}</span>
              <form id = "delete_blog"  method = "POST" enctype="multipart/form-data">
                {% csrf_token %}
                  <a class=" btn blog-slider__button" onclick="document.getElementById('delete_blog').submit()">Yes</a>
                  <a class=" blog-slider__button" href="{% url 'my-blogs' %}">Cancel</a>
              </form>
              <!-- <div class="blog-slider__content"><span class="blog-slider__code">{{ blog.date_posted }}</span>
                  <div class="blog-slider__title">
                      <p>{{ blog.title }}</p>
                  </div>
                  <div class="blog-slider__text">
                      <p>{{ blog.content }}</p>
                  </div><a class="blog-slider__button" href="#">READ MORE</a>
              </div> -->
          </div>

    </div>
    <div class="blog-slider__pagination"></div>
</div>
{% endblock %}
