{% extends 'homepage/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="blog-slider" style="margin-top: 150px;height: 600px;">
        <div class="blog-slider__wrp swiper-wrapper">
              <div class="blog-slider__item swiper-slide">
                  <!-- <div class="blog-slider__img"><img src="{{ blog.images.url }}"></div> -->
                  <form id = "create_blog" method = "POST" enctype="multipart/form-data">
                    {% csrf_token %}
                      {{ form|crispy }}
                      <a class=" btn blog-slider__button mt-3" onclick="document.getElementById('create_blog').submit()">Update</a>
                  </form>
                  <!-- <div class="blog-slider__content"><span class="blog-slider__code">{{ blog.date_posted }}</span>
                      <div class="blog-slider__title">
                          <p>{{ blog.title }}</p>
                      </div>
                      <div class="blog-slider__text">
                          <p>{{ blog.content }}</p>
                      </div><a class="blog-slider__button" href="#">READ MORE</a>
                  </div> -->
              </div>

        </div>
        <div class="blog-slider__pagination"></div>
    </div>
{% endblock %}
