{% extends 'homepage/base.html' %}
{% load static %}

{% block content %}
    <div class="blog-slider" style="margin-top: 150px;height: 600px;">
        <div class="blog-slider__wrp swiper-wrapper">
            {% for blog in blogs %}
              <div class="blog-slider__item swiper-slide">
                  <div class="blog-slider__img"><img src="{{ blog.images.url }}"></div>
                  <div class="blog-slider__content"><span class="blog-slider__code">{{ blog.date_posted }}</span>
                      <div class="blog-slider__title">
                          <p>{{ blog.title }}</p>
                      </div>
                      <div class="blog-slider__text">
                          <p>{{ blog.content }}</p>
                      </div><a class="blog-slider__button" href="{% url 'update-blog' blog.postid %}">Update</a><a class="blog-slider__button" href="{% url 'delete-blog' blog.postid %}">Delete</a>
                  </div>
              </div>
            {% endfor %}
        </div>
        <div class="blog-slider__pagination"></div>
    </div>
{% endblock %}
