{% extends 'homepage\base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div id="main-wrapper" class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-xl-10 mt-5">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                  <!-- <img class = "rounded-circle account-img" src = "{{ user.bees.image.url }}" style = "height:150px; width:150px;"> -->
                                    <h3 class="h4 font-weight-bold text-theme mt-2">Update Profile</h3>
                                </div>

                                <!-- <h6 class="h5 mb-0">Welcome back!</h6>
                                <p class="text-muted mt-2 mb-5">Enter your username and password to start Blogging</p> -->

                                <form class = "mt-3" method = "POST" enctype="multipart/form-data">
                                  {% csrf_token %}
                                    {{ u_form|crispy }}
                                    {{ b_form|crispy }}
                                    <!-- <a href="#l" class="forgot-link float-right text-primary">Forgot password?</a><br> -->
                                    <button type="submit" class="btn btn-theme mt-3">Update</button>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6  d-lg-inline-block mt-5">
                          <div class="card">
                            <div class="view">
                              <img class="card-img-top" src="{{ user.bees.image.url }}"
                                   alt="Card image cap">
                              <a href="https://bachataurban.com/" target="_blank">
                                <div class="mask gradient-card"></div>
                              </a>
                            </div>
                            <div class="card-body text-center">
                              <h5 class="h5 font-weight-bold"><a href="https://bachataurban.com/" target="_blank">Dj Flam</a></h5>
                              <p class="mb-0">Urban Bachata remix</p>
                              <audio id="music" preload="true">
                                <source src="C:\Users\jigss\Downloads\radioactive.mp3">
                              </audio>
                              <div id="audioplayer">
                                <i id="pButton" class="fas fa-play"></i>
                                <div id="timeline">
                                  <div id="playhead"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                            <!-- <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4">This  beautiful theme yours!</h4>
                                    <p class="lead text-white">"Best investment i made for a long time. Can only recommend it for other users."</p>
                                    <p>- Admin User</p>
                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->

            <!-- <p class="text-muted text-center mt-3 mb-0">Don't have an account? <a href="{% url 'register' %}" class="text-primary ml-1">Register here!</a></p> -->

            <!-- end row -->

        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>
{% endblock %}
